
body, button, input, textarea {
  font: bold 1rem Trebuchet MS, Helvetica, Arial, sans-serif; color: #221;
}

body { margin: 0; padding: 6px 10px;
  background: #ffc; 
}

input::placeholder, textarea::placeholder { color: #aaa }
button, input, textarea {
  margin: 3px; padding: 2px 6px;
  border: 3px solid #221; border-radius: 6px;
  box-sizing: border-box;
  vertical-align: bottom; resize: none;
  transition: all .2s;
  outline: 4px dotted #0000; outline-offset: 5px;
}
button:focus, input:focus, textarea:focus {
  outline: 4px dotted #f60; outline-offset: -5px;
}

button { background: #221; color: #fff }
button:hover { box-shadow: 0 0 8px 1px #f60 }
button:active { box-shadow: 0 0 13px 6px #f60 }

::-webkit-scrollbar { width: 8px; height: 8px }
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track { background: #0000 }
::-webkit-scrollbar-thumb { background: #221; 
  border: 1px solid #fff; border-radius: 4px }

table { border-collapse: collapse }
tr:nth-child(odd) { background: #9541 }
td { padding: 2px 6px }

.inner-grid td:not(:first-child) { border-left: 1px solid #2216 }
.inner-grid tr:not(:first-child) td { border-top: 1px solid #2216 }
.wide { display: block; width: 100% }
.center { text-align: center; margin-left: auto; margin-right: auto }
.pale { color: #2216 }
